@charset "UTF-8";

$quick-nav-icon-bg-color: #52b9e9;
$quick-nav-icon-text-color: #ffffff;

$primary-menu-text-color: #16519f;
$secondary-menu-text-color: #000000;

$footer-bg-color: #16519f;
$footer-text-color: #ffffff;

$banner-overlay-color: rgba(22, 81, 159, 0.3);
$banner-text-color: #ffffff;

$common-title-color: #16519f;
$common-text-color: #000000;

$most-wanted-bg-color: #16519f;
$most-wanted-text-color: #ffffff;

$shortcut-bg-color: #c51112;
$shortcut-text-color: #ffffff;

$tilannehuone-bg-color: #5bb3c7;
$tilannehuone-text-color: #ffffff;

$twitter-bg-color: #55acef;
$twitter-link-color: #ffffff;
$twitter-text-color: #0c6cab;

$contacts-bg-color: #5f626b;
$contacts-text-color: #ffffff;

$facebook-bg-color: #edeef2;
$facebook-text-color: #696969;

$instagram-bg-color: #ffffff;
$instagram-text-color: #696969;

$news-date-text-color: #ffffff;
$news-date-bg-color: #ea0001;
$news-text-bg-color: rgba(255,255,255,0.8);
$all-news-bg-color: #16519f;
$all-news-text-color: #ffffff;
$news-articles-header-color: #95999c;

$social-media-items-border-color: #e7e7e7;
$index-box-border-color: rgba(255,255,255,0.4);